.btn {
    position: relative;
    background-color: hsl(206, 70%, 41%);
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 40px;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn:after {
    content: "";
    background: hsl(206, 70%, 50%);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}